/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 avr. 2020, 23:18:15
    Author     : stag
*/
@font-face {
    font-family: 'Precious';
    src: url('/images/Precious.ttf') format('truetype');
}
#com{
    margin-top:20px;
}

.row{
    padding-top: 0px;
    background-color: #a5e0e0;
}
h1{
    padding-top:50px;
    text-align: center;
    font-style:italic;
    padding-bottom:0px;
}

.videoPoste{
    padding-top: 0px;
    margin: 0px;
    border-color: black;
}
.form1{
    margin-top:20px;
    font-family: 'precious';
    font-size: 14px;

}

.form2{
    margin-top:100px;
    font-family: 'precious';
}
textArea{
    width: 300px;
}

fieldset {
    border: 1px #0568CD solid;
    border-radius: 15px;
    text-align: justify;
    margin-left: 10px;



}

legend {
    font-weight: bold;

}

/* Forms ------------------------------- */

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;

}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
    margin-bottom: 20px;

}

form input.sansLabel {
    margin-left: 200px;
}

form .requis {
    color: #c00;
}

.erreur {
    color:red;
}

.succes{
    color:green;
}

button{
    background-color: #529dff;
    border-radius: 3px;
}